<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First Project</title>
    <style>
    body{
      background-color: burlywood;
      }
      h1,h2,ul,table{
        color: red;
      }
      
    </style>
  </head>
  <body >
    <h1>{{insert_msg}} {{insert_date}}</h1>
    <h2>Course Name:Django</h2>
    <h2>Prerequisite:Python</h2>
    <ul>
      <li>{{p1}}</li>
      <li>{{p2}}</li>
      <li>{{p3}}</li>
      <li>{{p4}}</li>
    </ul>
    <h1>{{batch}}</h1>
    <table border="3" width="500" style="text-align: center;">
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Feedback</th>
      </tr>
      <tr>
        <td>101</td>
        <td>Sunny</td>
        <td>Good</td>
      </tr>
      <tr>
        <td>102</td>
        <td>Bunny</td>
        <td>Average</td>
      </tr>
      <tr>
        <td>103</td>
        <td>Vinny</td>
        <td>Bad</td>
      </tr>
    </table>
  </body>
</html>
